<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main page</title>
</head>
<body>
<h1> Admin page </h1>
<form th:action="@{admin/users}" method="get">
  <input type="submit" value="Пользователи"/>
</form>
<br/>
<br/>
<form th:action="@{admin/formAdd}" method="get">
  <input type="submit" value="Добавить пользователя">
</form>
<br/>
<br/>
<form th:action="@{/}" method="get">
  <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
